# PATHS
[includeIf "gitdir:~/Dev/Repos/Perso/"]
	path = .gitconfig_user_perso
[includeIf "gitdir:~/Dev/Repos/Pro/"]
	path = .gitconfig_user_pro

# SHARED
[init]
	defaultBranch = main
[core]
	editor = vim
	excludesfile = /Users/asikel/.gitignore_global
[pull]
	rebase = false # merge (the default strategy)
	# rebase = true # rebase
	# ff = only # fast-forward only
[commit]
	template = /Users/asikel/.stCommitMsg
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[alias]
	cleanup-full = !git branch --merged | egrep -v \"(^\\*|master|main|develop|dev|compat)\" | xargs git branch -d && git remote prune origin
	cleanup-merged = !git branch --merged | egrep -v \"(^\\*|master|main|develop|dev|compat)\" | xargs git branch -d
	cleanup-refs = remote prune origin
	up = pull --rebase --autostash

# SOURCETREE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

