# PATHS
[includeIf "gitdir:~/Dev/Repos/Perso/"]
	path = .gitconfig_user_perso
[includeIf "gitdir:~/Dev/Repos/Pro/"]
	path = .gitconfig_user_pro

# SHARED
[init]
	defaultBranch = main
[core]
	editor = vim
	excludesfile = /Users/asikel/.gitignore_global
[push]
	autoSetupRemote = true
[alias]
	cleanup-full = !git branch --merged | egrep -v \"(^\\*|master|main|develop|dev)\" | xargs git branch -d && git remote prune origin
	cleanup-merged = !git branch --merged | egrep -v \"(^\\*|master|main|develop|dev)\" | xargs git branch -d
	cleanup-refs = remote prune origin
	up = pull --rebase --autostash
